In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

In [3]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [6]:
c = df['A'].map(str) + "-" + df['C'].map(str)

In [7]:
type(c)

pandas.core.series.Series

In [8]:
c.values

array(['a-2', 'b-4', 'c-6'], dtype=object)